@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.optionModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.optionModalBlind {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  animation: fade 0.1s ease both;
  animation-delay: 0.12s;
}
.optionModalContainer {
  background-color: white;
  position: relative;
  width: 95%;
  z-index: 7;
  border-radius: 5px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
  animation: zoom 0.2s ease;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.optionModalTitle {
  font-weight: bold;
}
.optionModalMessage {
  font-size: 14px;
  margin-top: 5px;
}
.optionModalOptions {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
}
.optionModalOptions div {
  display: inline-flex;
  background: var(--mainColor);
  color: white;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease;
  text-align: center;
  transition: 0.2s ease;
}
.optionModalOptions div:first-child {
  background-color: lightgray;
  color: black;
  margin-right: 10px;
}
.optionModalOptions div:first-child:hover {
  background-color: rgb(170, 170, 170);
}
.optionModalOptions div:nth-child(2):hover {
  background-color: #258ebb;
}
@media screen and (min-width: 800px) {
  .optionModalContainer {
    width: 30%;
    z-index: 7;
  }
}
