#profileImageInput {
  display: none;
}
.profileModalBody {
  padding: 50px 0px !important;
  height: 90vh;
}
.profileDetail {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 5px;
}
.profileDetailIcon {
  padding: 0 !important;
}
.profileEditFormInputBoxContainer {
  margin-top: 5px;
}
.profileEditFormInputBox {
  border-radius: 2px;
  border: 1px solid lightgray;
  margin-top: 2px;
  width: 95%;
  padding: 7px 5px;
  text-transform: capitalize;
}
.profileEditFormInputBox:focus {
  outline: 1px solid var(--mainColor);
  border: 1px solid var(--mainColor);
}
.profileEditPicContainer {
  width: 100%;
  height: 230px;
  overflow: hidden;
  position: relative;
}
.profileEditPicContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profileEditFormEditBtnContainer {
  position: absolute;
  z-index: 2;
  top: 190px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: none;
}
@media screen and (min-width: 800px) {
  .profileModalContainer {
    width: 30% !important;
    overflow: hidden;
  }
  .profileEditFormEditBtnContainer {
    cursor: pointer;
  }
}
