.soulsWonContainer {
  background-color: #e4e4e4;
  margin-top: 50px;
  overflow: auto;
  position: relative;
}
.soulsWonCardContainer {
  padding: 100px 10px 20px;
  padding-bottom: 125px;
  position: relative;
  left: 0;
}
.soulsWonAddSoulBtn {
  display: none;
}
.emptyDisplayText {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-style: italic;
}
@media screen and (min-width: 800px) {
  .soulsWonContainer {
    width: 100%;
  }
  .soulsWonCardContainer {
    padding: 50px 0px 10px;
    margin-top: 0px;
    border-top: none;
  }
  .soulsWonAddSoulBtn {
    display: flex;
    flex-basis: 30%;
    background-color: var(--mainColor);
    color: white;
    font-size: 14px;
    padding: 8px 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s ease;
  }
  .soulsWonAddSoulBtn:hover {
    background-color: #258ebb;
  }
  .soulsWonAddSoulBtnIcon {
    margin-left: 10px;
    font-size: 16px;
  }
}
