.splashScreen {
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes beat {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}
.splashScreen img {
  width: 20%;
  animation: beat 2s infinite;
}
@media (min-width: 800px) {
  .splashScreen img {
    width: 7%;
  }
}
