.testimonyFormInputLabel {
  font-size: 13px;
  color: #777777;
  margin-top: 10px;
  text-transform: lowercase;
}
.testimonyFormInput {
  border: 1px solid lightgrey;
  padding: 5px;
  width: 100%;
  border-radius: 3px;
  margin-top: 5px;
  font-size: 14px;
  text-transform: capitalize;
}
.testimonyFormTextArea {
  border: 1px solid lightgrey;
  height: 100px;
  padding: 5px;
  border-radius: 3px;
  margin-top: 5px;
  font-size: 14px !important;
  width: 100%;
  font-family: sans-serif;
}
.testimonyFormInput:focus,
.testimonyFormTextArea:focus {
  outline: 1px solid var(--mainColor);
  border: 1px solid var(--mainColor);
}
.testimonyFormCol {
  padding: 10px;
}
.testimonyAttachmentBtn {
  border: 1px solid lightgray;
  background-color: white !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  color: #999999;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 25px;
}
.testimonyAttachmentBtn div {
  font-size: 12px;
}
.testimonyAttachmentContainer {
  display: flex;
  padding-top: 5px;
  padding-bottom: 10px;
}
.testimonyAttachmentWrapper {
  padding: 2px !important;
}
.testimonyAttachmentImage {
  border-radius: 3px;
  overflow: hidden;
  height: 80px;
  background-color: lightgray;
}
.testimonyAttachmentImage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 800px) {
  .testimonyFormWrapper {
    display: block !important;
  }
  .testimonyFormCol {
    padding: 40px 0px 10px;
  }
  .testimonyAttachmentBtn:hover {
    background-color: lightgray !important;
    border-color: lightgray !important;
    color: black !important;
  }
}
